{% extends "template.twig" %}

{% block main %}
    <section class="section">
        <div class="container">
            <div class="field">
                <div class="control">
                    <a href="./messageIndex.php" class="button">
                        <span class="icon is-large">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="content">
                            <h1 class="title is-4-desktop is-5">Subject</h1>
                            <h2 class="subtitle is-6">Sender - Date</h2>
                        </div>
                    </div>
                    <div class="column">
                        <div class="buttons is-right has-addons">
                            <div class="field has-addons">
                                <a class="button">
                                    <span class="icon is-small">
                                        <i class="fas fa-reply"></i>
                                    </span>
                                </a>
                                <a class="button">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper velit et posuere pulvinar. Cras accumsan faucibus libero, eget interdum purus tempus ullamcorper. Ut fermentum, dolor vel sollicitudin venenatis, sapien nunc venenatis felis, ac euismod augue libero et purus. Fusce at ullamcorper ipsum. Morbi magna magna, vehicula eget purus eu, pretium facilisis elit. Vestibulum tortor nibh, interdum nec pretium dignissim, mollis ut nulla. Quisque risus elit, facilisis in lacinia iaculis, cursus elementum lacus. Curabitur eleifend lobortis tortor, eget mollis erat porttitor sed. Sed id risus nisi. In a tincidunt justo, sed mollis nibh. Sed magna leo, rutrum eu lacinia vel, semper a sapien. Phasellus malesuada arcu luctus tempor tempus.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}