<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <script src="/techCOverflow/node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/techCOverflow/css/mystyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech C Overflow</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="burger1">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                <a href="/techCOverflow" class="navbar-item is-family-primary">
                    <img src="/techCOverflow/images/tech-c-logo.png" alt="">
                    
                    &nbsp Tech C <span class="has-text-weight-bold">
                        &nbspOverflow
                    </span>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="burger2">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/techCOverflow">
                        ホーム
                    </a>
                    
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless" href="#">
                            その他
                        </a>
                        
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">
                                ウェブサイトについて
                            </a>
                            <a class="navbar-item" href="#">
                                コンタクト
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="#">
                                バグレポート
                            </a>
                        </div>
                    </div>
                    <form>
                        <div class="navbar-item field">
                            <div class="control is-expanded">
                                <input type="search" class="input is-fullwidth" placeholder="検索">
                            </div>
                        </div>
                    </form>
                </div>
            
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                        {% if user is null %}
                        <a class="button is-dark" id="signUp-button">
                            <strong>登録</strong>
                        </a>
                        <a class="button is-light" id="login-button">
                            ログイン
                        </a>
                        {% else %}
                        <a href="/techCOverflow/public/profile.php" class="button is-dark">
                            <strong>プロフィール</strong>
                        </a>
                        <a href="/techCOverflow/public/messageIndex.php" class="button">
                            メッセージ
                        </a>
                        <a href="#" class="button is-primary">
                            <strong>ログアウト</strong>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- login modal -->
    <div class="modal" id="modal-login">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-head">
                ログイン
            </div>
            <div class="modal-card-body">
                <form action="#" method="POST">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input type="email" class="input" placeholder="メールアドレスご入力ください">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input type="text" class="input" placeholder="パスワードご入力ください">
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-card-foot">
                <div class="field">
                    <button type="submit" class="button is-primary">Submit</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-large"></button>
    </div>
    <!-- sign up modal -->
    <div class="modal" id="modal-signUp">
        <div class="modal-background"></div>
        <div class="modal-card">
            <form action="#" method="POST">
                <div class="modal-card-head">新規登録</div>
                <div class="modal-card-body">
                    <div class="columns">
                        <div class="column is-offset-one-fifth is-three-fifths">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" id="account" name="email" class="input" placeholder="メールアドレス" required>
                                    <span class="icon is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="password" name="password" class="input" placeholder="パスワード" required>
                                    <span class="icon is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" name="lastName" placeholder="姓" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" name="firstName" placeholder="名" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-card-foot">
                    <div class="field">
                        <button type="submit" class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <button class="modal-close is-large"></button>
    </div>

    <!-- main content -->

    <main>
        <div class="columns is-gapless">
            <div class="column is-1 side-menu"></div>
            <div class="column is-2 side-menu is-hidden-mobile" id="menu">
                <section class="section">
                    <!-- <div class="container"> -->
                        <!-- side menu -->
                        
                        <aside class="menu">
                            <p class="menu-label">
                                メニュー
                            </p>
                            <ul class="menu-list">
                                <li><a href="/techCOverflow">ホーム</a></li>
                                {% if user != null %}
                                <li><a href="/techCOverflow/public/profile.php">プロフィール</a></li>
                                {% endif %}
                            </ul>
                            <p class="menu-label">
                                トピック
                            </p>
                            <ul class="menu-list">
                                <li><a>言語</a>
                                <ul>
                                    <li><a>Php</a></li>
                                    <li><a>Python</a></li>
                                    <li><a>JavaScript</a></li>
                                    <li><a>Ruby</a></li>
                                    <li><a>HTML & CSS</a></li>
                                </ul>
                                </li>
                                <li><a>UI/UX</a></li>
                                <li><a>アルゴリズム</a></li>
                                <li><a>人工知能</a></li>
                                <li><a>CG</a></li>
                            </ul>
                        </aside>    
                    <!-- </div> -->
                </section>
            </div>
            <div class="column is-6">
                <section class="section">
                    {% block main %}
                        
                    {% endblock main %}
                </section>
            </div>
            <div class="column is-2 ">
                <section class="section">
                    <div class="container">
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                        <div class="box">
                            広告
                        </div>
                    </div>
                </section>
            </div>
            <div class="column"></div>
        </div>
    </main>
    <footer class="footer has-text-white">
        <div class="content has-text-centered">
            <a href="https://www.tech.ac.jp/" target="_BLANK">Tech C.</a> の Stack Overflow 見たいなウェブサイト<br>
            作者：<a href="https://github.com/eugenesinamban" target="_BLANK">シナンバン・ユージン</a>
        </div>
    </footer>
    <script src="/techCOverflow/jquery.js"></script>
</body>
</html>